name: tp
services:

  # ============================== RABBITMQ SERVICE ============================== #

  rabbitmq-message-middleware:
    container_name: rabbitmq-message-middleware
    image: "rabbitmq:4-management"
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASS}
    networks:
      - custom_net
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 30s

  hc_0:
    container_name: hc_0
    image: health_checkers:latest
    volumes: 
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NODE_ID=0
      - NODE_NAME=hc_0
      - LISTEN_PORT=9101
      - HEALTH_LISTEN_PORT=9201
      - RING_PEERS=hc_1,hc_2,hc_3,hc_4
      - CONTROLLER_TARGETS=
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - HEARTBEAT_INTERVAL_MS=800
      - HEARTBEAT_TIMEOUT_MS=1000
      - NODHEARTBEAT_MAX_RETRIES=5
      - SUSPECT_GRACE_MS=1200
      - LEADER_CHECK_INTERVAL_MS=10000
      - LEADER_CHECK_TIMEOUT_MS=1000
      - ELECTION_BACKOFF_MS_MIN=300
      - ELECTION_BACKOFF_MS_MAX=900
      - LEADER_RANDOM_SLEEP_MIN_MS=1500
      - LEADER_RANDOM_SLEEP_MAX_MS=5000
      - DOCKER_HOST=unix:///var/run/docker.sock
    networks:
      - custom_net
    depends_on:
      rabbitmq-message-middleware:
        condition: service_healthy

  hc_1:
    container_name: hc_1
    image: health_checkers:latest
    volumes: 
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NODE_ID=1
      - NODE_NAME=hc_1
      - LISTEN_PORT=9101
      - HEALTH_LISTEN_PORT=9201
      - RING_PEERS=hc_0,hc_2,hc_3,hc_4
      - CONTROLLER_TARGETS=
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - HEARTBEAT_INTERVAL_MS=800
      - HEARTBEAT_TIMEOUT_MS=1000
      - NODHEARTBEAT_MAX_RETRIES=5
      - SUSPECT_GRACE_MS=1200
      - LEADER_CHECK_INTERVAL_MS=10000
      - LEADER_CHECK_TIMEOUT_MS=1000
      - ELECTION_BACKOFF_MS_MIN=300
      - ELECTION_BACKOFF_MS_MAX=900
      - LEADER_RANDOM_SLEEP_MIN_MS=1500
      - LEADER_RANDOM_SLEEP_MAX_MS=5000
      - DOCKER_HOST=unix:///var/run/docker.sock
    networks:
      - custom_net
    depends_on:
      rabbitmq-message-middleware:
        condition: service_healthy

  hc_2:
    container_name: hc_2
    image: health_checkers:latest
    volumes: 
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NODE_ID=2
      - NODE_NAME=hc_2
      - LISTEN_PORT=9101
      - HEALTH_LISTEN_PORT=9201
      - RING_PEERS=hc_0,hc_1,hc_3,hc_4
      - CONTROLLER_TARGETS=
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - HEARTBEAT_INTERVAL_MS=800
      - HEARTBEAT_TIMEOUT_MS=1000
      - NODHEARTBEAT_MAX_RETRIES=5
      - SUSPECT_GRACE_MS=1200
      - LEADER_CHECK_INTERVAL_MS=10000
      - LEADER_CHECK_TIMEOUT_MS=1000
      - ELECTION_BACKOFF_MS_MIN=300
      - ELECTION_BACKOFF_MS_MAX=900
      - LEADER_RANDOM_SLEEP_MIN_MS=1500
      - LEADER_RANDOM_SLEEP_MAX_MS=5000
      - DOCKER_HOST=unix:///var/run/docker.sock
    networks:
      - custom_net
    depends_on:
      rabbitmq-message-middleware:
        condition: service_healthy

  hc_3:
    container_name: hc_3
    image: health_checkers:latest
    volumes: 
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NODE_ID=3
      - NODE_NAME=hc_3
      - LISTEN_PORT=9101
      - HEALTH_LISTEN_PORT=9201
      - RING_PEERS=hc_0,hc_1,hc_2,hc_4
      - CONTROLLER_TARGETS=
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - HEARTBEAT_INTERVAL_MS=800
      - HEARTBEAT_TIMEOUT_MS=1000
      - NODHEARTBEAT_MAX_RETRIES=5
      - SUSPECT_GRACE_MS=1200
      - LEADER_CHECK_INTERVAL_MS=10000
      - LEADER_CHECK_TIMEOUT_MS=1000
      - ELECTION_BACKOFF_MS_MIN=300
      - ELECTION_BACKOFF_MS_MAX=900
      - LEADER_RANDOM_SLEEP_MIN_MS=1500
      - LEADER_RANDOM_SLEEP_MAX_MS=5000
      - DOCKER_HOST=unix:///var/run/docker.sock
    networks:
      - custom_net
    depends_on:
      rabbitmq-message-middleware:
        condition: service_healthy

  hc_4:
    container_name: hc_4
    image: health_checkers:latest
    volumes: 
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NODE_ID=4
      - NODE_NAME=hc_4
      - LISTEN_PORT=9101
      - HEALTH_LISTEN_PORT=9201
      - RING_PEERS=hc_0,hc_1,hc_2,hc_3
      - CONTROLLER_TARGETS=
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - HEARTBEAT_INTERVAL_MS=800
      - HEARTBEAT_TIMEOUT_MS=1000
      - NODHEARTBEAT_MAX_RETRIES=5
      - SUSPECT_GRACE_MS=1200
      - LEADER_CHECK_INTERVAL_MS=10000
      - LEADER_CHECK_TIMEOUT_MS=1000
      - ELECTION_BACKOFF_MS_MIN=300
      - ELECTION_BACKOFF_MS_MAX=900
      - LEADER_RANDOM_SLEEP_MIN_MS=1500
      - LEADER_RANDOM_SLEEP_MAX_MS=5000
      - DOCKER_HOST=unix:///var/run/docker.sock
    networks:
      - custom_net
    depends_on:
      rabbitmq-message-middleware:
        condition: service_healthy

networks:
  custom_net:
    ipam:
      driver: default
      config:
        - subnet: 172.25.125.0/24
