services:
  hc_container_1:
    image: ${IMAGE_NAME}
    container_name: hc_container_1
    networks:
      - ringnet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NODE_ID=1
      - NODE_NAME=hc_container_1
      - LISTEN_PORT=${LISTEN_PORT}
      - HEALTH_LISTEN_PORT=${HEALTH_LISTEN_PORT}
      - RING_PEERS=hc_container_2:9101,hc_container_3:9101,hc_container_4:9101,hc_container_5:9101
      - CONTROLLER_TARGETS=hc_container_2:9201,hc_container_3:9201,hc_container_4:9201,hc_container_5:9201
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - HEARTBEAT_INTERVAL_MS=${HEARTBEAT_INTERVAL_MS}
      - HEARTBEAT_TIMEOUT_MS=${HEARTBEAT_TIMEOUT_MS}
      - HEARTBEAT_MAX_RETRIES=${HEARTBEAT_MAX_RETRIES}
      - SUSPECT_GRACE_MS=${SUSPECT_GRACE_MS}
      - LEADER_CHECK_INTERVAL_MS=${LEADER_CHECK_INTERVAL_MS}
      - LEADER_CHECK_TIMEOUT_MS=${LEADER_CHECK_TIMEOUT_MS}
      - ELECTION_BACKOFF_MS_MIN=${ELECTION_BACKOFF_MS_MIN}
      - ELECTION_BACKOFF_MS_MAX=${ELECTION_BACKOFF_MS_MAX}
      - LEADER_RANDOM_SLEEP_MIN_MS=${LEADER_RANDOM_SLEEP_MIN_MS}
      - LEADER_RANDOM_SLEEP_MAX_MS=${LEADER_RANDOM_SLEEP_MAX_MS}
      - DOCKER_HOST=${DOCKER_HOST}

  hc_container_2:
    image: ${IMAGE_NAME}
    container_name: hc_container_2
    networks:
      - ringnet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NODE_ID=2
      - NODE_NAME=hc_container_2
      - LISTEN_PORT=${LISTEN_PORT}
      - HEALTH_LISTEN_PORT=${HEALTH_LISTEN_PORT}
      - RING_PEERS=hc_container_1:9101,hc_container_3:9101,hc_container_4:9101,hc_container_5:9101
      - CONTROLLER_TARGETS=hc_container_1:9201,hc_container_3:9201,hc_container_4:9201,hc_container_5:9201
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - HEARTBEAT_INTERVAL_MS=${HEARTBEAT_INTERVAL_MS}
      - HEARTBEAT_TIMEOUT_MS=${HEARTBEAT_TIMEOUT_MS}
      - HEARTBEAT_MAX_RETRIES=${HEARTBEAT_MAX_RETRIES}
      - SUSPECT_GRACE_MS=${SUSPECT_GRACE_MS}
      - LEADER_CHECK_INTERVAL_MS=${LEADER_CHECK_INTERVAL_MS}
      - LEADER_CHECK_TIMEOUT_MS=${LEADER_CHECK_TIMEOUT_MS}
      - ELECTION_BACKOFF_MS_MIN=${ELECTION_BACKOFF_MS_MIN}
      - ELECTION_BACKOFF_MS_MAX=${ELECTION_BACKOFF_MS_MAX}
      - LEADER_RANDOM_SLEEP_MIN_MS=${LEADER_RANDOM_SLEEP_MIN_MS}
      - LEADER_RANDOM_SLEEP_MAX_MS=${LEADER_RANDOM_SLEEP_MAX_MS}
      - DOCKER_HOST=${DOCKER_HOST}

  hc_container_3:
    image: ${IMAGE_NAME}
    container_name: hc_container_3
    networks:
      - ringnet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NODE_ID=3
      - NODE_NAME=hc_container_3
      - LISTEN_PORT=${LISTEN_PORT}
      - HEALTH_LISTEN_PORT=${HEALTH_LISTEN_PORT}
      - RING_PEERS=hc_container_1:9101,hc_container_2:9101,hc_container_4:9101,hc_container_5:9101
      - CONTROLLER_TARGETS=hc_container_1:9201,hc_container_2:9201,hc_container_4:9201,hc_container_5:9201
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - HEARTBEAT_INTERVAL_MS=${HEARTBEAT_INTERVAL_MS}
      - HEARTBEAT_TIMEOUT_MS=${HEARTBEAT_TIMEOUT_MS}
      - HEARTBEAT_MAX_RETRIES=${HEARTBEAT_MAX_RETRIES}
      - SUSPECT_GRACE_MS=${SUSPECT_GRACE_MS}
      - LEADER_CHECK_INTERVAL_MS=${LEADER_CHECK_INTERVAL_MS}
      - LEADER_CHECK_TIMEOUT_MS=${LEADER_CHECK_TIMEOUT_MS}
      - ELECTION_BACKOFF_MS_MIN=${ELECTION_BACKOFF_MS_MIN}
      - ELECTION_BACKOFF_MS_MAX=${ELECTION_BACKOFF_MS_MAX}
      - LEADER_RANDOM_SLEEP_MIN_MS=${LEADER_RANDOM_SLEEP_MIN_MS}
      - LEADER_RANDOM_SLEEP_MAX_MS=${LEADER_RANDOM_SLEEP_MAX_MS}
      - DOCKER_HOST=${DOCKER_HOST}

  hc_container_4:
    image: ${IMAGE_NAME}
    container_name: hc_container_4
    networks:
      - ringnet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NODE_ID=4
      - NODE_NAME=hc_container_4
      - LISTEN_PORT=${LISTEN_PORT}
      - HEALTH_LISTEN_PORT=${HEALTH_LISTEN_PORT}
      - RING_PEERS=hc_container_1:9101,hc_container_2:9101,hc_container_3:9101,hc_container_5:9101
      - CONTROLLER_TARGETS=hc_container_1:9201,hc_container_2:9201,hc_container_3:9201,hc_container_5:9201
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - HEARTBEAT_INTERVAL_MS=${HEARTBEAT_INTERVAL_MS}
      - HEARTBEAT_TIMEOUT_MS=${HEARTBEAT_TIMEOUT_MS}
      - HEARTBEAT_MAX_RETRIES=${HEARTBEAT_MAX_RETRIES}
      - SUSPECT_GRACE_MS=${SUSPECT_GRACE_MS}
      - LEADER_CHECK_INTERVAL_MS=${LEADER_CHECK_INTERVAL_MS}
      - LEADER_CHECK_TIMEOUT_MS=${LEADER_CHECK_TIMEOUT_MS}
      - ELECTION_BACKOFF_MS_MIN=${ELECTION_BACKOFF_MS_MIN}
      - ELECTION_BACKOFF_MS_MAX=${ELECTION_BACKOFF_MS_MAX}
      - LEADER_RANDOM_SLEEP_MIN_MS=${LEADER_RANDOM_SLEEP_MIN_MS}
      - LEADER_RANDOM_SLEEP_MAX_MS=${LEADER_RANDOM_SLEEP_MAX_MS}
      - DOCKER_HOST=${DOCKER_HOST}

  hc_container_5:
    image: ${IMAGE_NAME}
    container_name: hc_container_5
    networks:
      - ringnet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NODE_ID=5
      - NODE_NAME=hc_container_5
      - LISTEN_PORT=${LISTEN_PORT}
      - HEALTH_LISTEN_PORT=${HEALTH_LISTEN_PORT}
      - RING_PEERS=hc_container_1:9101,hc_container_2:9101,hc_container_3:9101,hc_container_4:9101
      - CONTROLLER_TARGETS=hc_container_1:9201,hc_container_2:9201,hc_container_3:9201,hc_container_4:9201
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - HEARTBEAT_INTERVAL_MS=${HEARTBEAT_INTERVAL_MS}
      - HEARTBEAT_TIMEOUT_MS=${HEARTBEAT_TIMEOUT_MS}
      - HEARTBEAT_MAX_RETRIES=${HEARTBEAT_MAX_RETRIES}
      - SUSPECT_GRACE_MS=${SUSPECT_GRACE_MS}
      - LEADER_CHECK_INTERVAL_MS=${LEADER_CHECK_INTERVAL_MS}
      - LEADER_CHECK_TIMEOUT_MS=${LEADER_CHECK_TIMEOUT_MS}
      - ELECTION_BACKOFF_MS_MIN=${ELECTION_BACKOFF_MS_MIN}
      - ELECTION_BACKOFF_MS_MAX=${ELECTION_BACKOFF_MS_MAX}
      - LEADER_RANDOM_SLEEP_MIN_MS=${LEADER_RANDOM_SLEEP_MIN_MS}
      - LEADER_RANDOM_SLEEP_MAX_MS=${LEADER_RANDOM_SLEEP_MAX_MS}
      - DOCKER_HOST=${DOCKER_HOST}

networks:
  ringnet: