services:
  hc_0:
    image: ${IMAGE_NAME}
    container_name: hc_0
    networks:
      - ringnet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NODE_ID=0
      - NODE_NAME=hc_0
      - LISTEN_PORT=${LISTEN_PORT}
      - HEALTH_LISTEN_PORT=${HEALTH_LISTEN_PORT}
      - RING_PEERS=hc_1,hc_2,hc_3,hc_4
      - CONTROLLER_TARGETS=${CONTROLLER_TARGETS}
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - HEARTBEAT_INTERVAL_MS=${HEARTBEAT_INTERVAL_MS}
      - HEARTBEAT_TIMEOUT_MS=${HEARTBEAT_TIMEOUT_MS}
      - HEARTBEAT_MAX_RETRIES=${HEARTBEAT_MAX_RETRIES}
      - SUSPECT_GRACE_MS=${SUSPECT_GRACE_MS}
      - LEADER_CHECK_INTERVAL_MS=${LEADER_CHECK_INTERVAL_MS}
      - LEADER_CHECK_TIMEOUT_MS=${LEADER_CHECK_TIMEOUT_MS}
      - ELECTION_BACKOFF_MS_MIN=${ELECTION_BACKOFF_MS_MIN}
      - ELECTION_BACKOFF_MS_MAX=${ELECTION_BACKOFF_MS_MAX}
      - LEADER_RANDOM_SLEEP_MIN_MS=${LEADER_RANDOM_SLEEP_MIN_MS}
      - LEADER_RANDOM_SLEEP_MAX_MS=${LEADER_RANDOM_SLEEP_MAX_MS}
      - DOCKER_HOST=${DOCKER_HOST}

  hc_1:
    image: ${IMAGE_NAME}
    container_name: hc_1
    networks:
      - ringnet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NODE_ID=1
      - NODE_NAME=hc_1
      - LISTEN_PORT=${LISTEN_PORT}
      - HEALTH_LISTEN_PORT=${HEALTH_LISTEN_PORT}
      - RING_PEERS=hc_0,hc_2,hc_3,hc_4
      - CONTROLLER_TARGETS=${CONTROLLER_TARGETS}
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - HEARTBEAT_INTERVAL_MS=${HEARTBEAT_INTERVAL_MS}
      - HEARTBEAT_TIMEOUT_MS=${HEARTBEAT_TIMEOUT_MS}
      - HEARTBEAT_MAX_RETRIES=${HEARTBEAT_MAX_RETRIES}
      - SUSPECT_GRACE_MS=${SUSPECT_GRACE_MS}
      - LEADER_CHECK_INTERVAL_MS=${LEADER_CHECK_INTERVAL_MS}
      - LEADER_CHECK_TIMEOUT_MS=${LEADER_CHECK_TIMEOUT_MS}
      - ELECTION_BACKOFF_MS_MIN=${ELECTION_BACKOFF_MS_MIN}
      - ELECTION_BACKOFF_MS_MAX=${ELECTION_BACKOFF_MS_MAX}
      - LEADER_RANDOM_SLEEP_MIN_MS=${LEADER_RANDOM_SLEEP_MIN_MS}
      - LEADER_RANDOM_SLEEP_MAX_MS=${LEADER_RANDOM_SLEEP_MAX_MS}
      - DOCKER_HOST=${DOCKER_HOST}

  hc_2:
    image: ${IMAGE_NAME}
    container_name: hc_2
    networks:
      - ringnet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NODE_ID=2
      - NODE_NAME=hc_2
      - LISTEN_PORT=${LISTEN_PORT}
      - HEALTH_LISTEN_PORT=${HEALTH_LISTEN_PORT}
      - RING_PEERS=hc_0,hc_1,hc_3,hc_4
      - CONTROLLER_TARGETS=${CONTROLLER_TARGETS}
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - HEARTBEAT_INTERVAL_MS=${HEARTBEAT_INTERVAL_MS}
      - HEARTBEAT_TIMEOUT_MS=${HEARTBEAT_TIMEOUT_MS}
      - HEARTBEAT_MAX_RETRIES=${HEARTBEAT_MAX_RETRIES}
      - SUSPECT_GRACE_MS=${SUSPECT_GRACE_MS}
      - LEADER_CHECK_INTERVAL_MS=${LEADER_CHECK_INTERVAL_MS}
      - LEADER_CHECK_TIMEOUT_MS=${LEADER_CHECK_TIMEOUT_MS}
      - ELECTION_BACKOFF_MS_MIN=${ELECTION_BACKOFF_MS_MIN}
      - ELECTION_BACKOFF_MS_MAX=${ELECTION_BACKOFF_MS_MAX}
      - LEADER_RANDOM_SLEEP_MIN_MS=${LEADER_RANDOM_SLEEP_MIN_MS}
      - LEADER_RANDOM_SLEEP_MAX_MS=${LEADER_RANDOM_SLEEP_MAX_MS}
      - DOCKER_HOST=${DOCKER_HOST}

  hc_3:
    image: ${IMAGE_NAME}
    container_name: hc_3
    networks:
      - ringnet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NODE_ID=3
      - NODE_NAME=hc_3
      - LISTEN_PORT=${LISTEN_PORT}
      - HEALTH_LISTEN_PORT=${HEALTH_LISTEN_PORT}
      - RING_PEERS=hc_0,hc_1,hc_2,hc_4
      - CONTROLLER_TARGETS=${CONTROLLER_TARGETS}
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - HEARTBEAT_INTERVAL_MS=${HEARTBEAT_INTERVAL_MS}
      - HEARTBEAT_TIMEOUT_MS=${HEARTBEAT_TIMEOUT_MS}
      - HEARTBEAT_MAX_RETRIES=${HEARTBEAT_MAX_RETRIES}
      - SUSPECT_GRACE_MS=${SUSPECT_GRACE_MS}
      - LEADER_CHECK_INTERVAL_MS=${LEADER_CHECK_INTERVAL_MS}
      - LEADER_CHECK_TIMEOUT_MS=${LEADER_CHECK_TIMEOUT_MS}
      - ELECTION_BACKOFF_MS_MIN=${ELECTION_BACKOFF_MS_MIN}
      - ELECTION_BACKOFF_MS_MAX=${ELECTION_BACKOFF_MS_MAX}
      - LEADER_RANDOM_SLEEP_MIN_MS=${LEADER_RANDOM_SLEEP_MIN_MS}
      - LEADER_RANDOM_SLEEP_MAX_MS=${LEADER_RANDOM_SLEEP_MAX_MS}
      - DOCKER_HOST=${DOCKER_HOST}

  hc_4:
    image: ${IMAGE_NAME}
    container_name: hc_4
    networks:
      - ringnet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - NODE_ID=4
      - NODE_NAME=hc_4
      - LISTEN_PORT=${LISTEN_PORT}
      - HEALTH_LISTEN_PORT=${HEALTH_LISTEN_PORT}
      - RING_PEERS=hc_0,hc_1,hc_2,hc_3
      - CONTROLLER_TARGETS=${CONTROLLER_TARGETS}
      - LOGGING_LEVEL=${LOGGING_LEVEL}
      - PYTHONUNBUFFERED=${PYTHONUNBUFFERED}
      - HEARTBEAT_INTERVAL_MS=${HEARTBEAT_INTERVAL_MS}
      - HEARTBEAT_TIMEOUT_MS=${HEARTBEAT_TIMEOUT_MS}
      - HEARTBEAT_MAX_RETRIES=${HEARTBEAT_MAX_RETRIES}
      - SUSPECT_GRACE_MS=${SUSPECT_GRACE_MS}
      - LEADER_CHECK_INTERVAL_MS=${LEADER_CHECK_INTERVAL_MS}
      - LEADER_CHECK_TIMEOUT_MS=${LEADER_CHECK_TIMEOUT_MS}
      - ELECTION_BACKOFF_MS_MIN=${ELECTION_BACKOFF_MS_MIN}
      - ELECTION_BACKOFF_MS_MAX=${ELECTION_BACKOFF_MS_MAX}
      - LEADER_RANDOM_SLEEP_MIN_MS=${LEADER_RANDOM_SLEEP_MIN_MS}
      - LEADER_RANDOM_SLEEP_MAX_MS=${LEADER_RANDOM_SLEEP_MAX_MS}
      - DOCKER_HOST=${DOCKER_HOST}

networks:
  ringnet: